<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.asset.mapper.AssetChangeLogMapper">

    <insert id="insertAssetChangeLog" parameterType="com.ruoyi.asset.domain.AssetChangeLog" useGeneratedKeys="true" keyProperty="logId">
        insert into ast_asset_change_log (
            <if test="assetId != null">asset_id,</if>
            <if test="bizType != null and bizType != ''">biz_type,</if>
            <if test="bizId != null">biz_id,</if>
            <if test="beforeStatus != null and beforeStatus != ''">before_status,</if>
            <if test="afterStatus != null and afterStatus != ''">after_status,</if>
            <if test="operateBy != null and operateBy != ''">operate_by,</if>
            operate_time,
            <if test="changeDesc != null and changeDesc != ''">change_desc,</if>
            <if test="remark != null and remark != ''">remark,</if>
            log_id
        ) values (
            <if test="assetId != null">#{assetId},</if>
            <if test="bizType != null and bizType != ''">#{bizType},</if>
            <if test="bizId != null">#{bizId},</if>
            <if test="beforeStatus != null and beforeStatus != ''">#{beforeStatus},</if>
            <if test="afterStatus != null and afterStatus != ''">#{afterStatus},</if>
            <if test="operateBy != null and operateBy != ''">#{operateBy},</if>
            <choose>
                <when test="operateTime != null">#{operateTime},</when>
                <otherwise>sysdate(),</otherwise>
            </choose>
            <if test="changeDesc != null and changeDesc != ''">#{changeDesc},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            null
        )
    </insert>
</mapper>
