<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.asset.mapper.AssetHandoverMapper">

    <resultMap id="AssetHandoverVoResult" type="com.ruoyi.asset.domain.vo.AssetHandoverVo">
        <id property="handoverId" column="handover_id"/>
        <result property="handoverNo" column="handover_no"/>
        <result property="assetId" column="asset_id"/>
        <result property="assetCode" column="asset_code"/>
        <result property="assetName" column="asset_name"/>
        <result property="handoverType" column="handover_type"/>
        <result property="fromDeptId" column="from_dept_id"/>
        <result property="fromDeptName" column="from_dept_name"/>
        <result property="fromUserId" column="from_user_id"/>
        <result property="fromUserName" column="from_user_name"/>
        <result property="fromLocationName" column="from_location_name"/>
        <result property="toDeptId" column="to_dept_id"/>
        <result property="toDeptName" column="to_dept_name"/>
        <result property="toUserId" column="to_user_id"/>
        <result property="toUserName" column="to_user_name"/>
        <result property="handoverStatus" column="handover_status"/>
        <result property="handoverDate" column="handover_date"/>
        <result property="locationName" column="location_name"/>
        <result property="confirmBy" column="confirm_by"/>
        <result property="confirmTime" column="confirm_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectAssetHandoverVoColumns">
        select h.handover_id, h.handover_no, h.asset_id, a.asset_code, a.asset_name, h.handover_type,
               h.from_dept_id, from_dept.dept_name as from_dept_name,
               h.from_user_id, ifnull(nullif(from_user.nick_name, ''), from_user.user_name) as from_user_name,
               h.from_location_name, h.to_dept_id, to_dept.dept_name as to_dept_name,
               h.to_user_id, ifnull(nullif(to_user.nick_name, ''), to_user.user_name) as to_user_name,
               h.handover_status, h.handover_date, h.location_name, h.confirm_by, h.confirm_time,
               h.create_by, h.create_time, h.update_by, h.update_time, h.remark
        from ast_asset_handover h
        left join ast_asset_ledger a on h.asset_id = a.asset_id and a.del_flag = '0'
        left join sys_dept from_dept on h.from_dept_id = from_dept.dept_id
        left join sys_dept to_dept on h.to_dept_id = to_dept.dept_id
        left join sys_user from_user on h.from_user_id = from_user.user_id
        left join sys_user to_user on h.to_user_id = to_user.user_id
    </sql>

    <select id="selectAssetHandoverList" parameterType="com.ruoyi.asset.domain.bo.AssetHandoverBo" resultMap="AssetHandoverVoResult">
        <include refid="selectAssetHandoverVoColumns"/>
        <where>
            1 = 1
            <if test="handoverNo != null and handoverNo != ''">
                and h.handover_no like concat('%', #{handoverNo}, '%')
            </if>
            <if test="assetId != null">
                and h.asset_id = #{assetId}
            </if>
            <if test="handoverType != null and handoverType != ''">
                and h.handover_type = #{handoverType}
            </if>
            <if test="handoverStatus != null and handoverStatus != ''">
                and h.handover_status = #{handoverStatus}
            </if>
            <if test="fromDeptId != null">
                and h.from_dept_id = #{fromDeptId}
            </if>
            <if test="fromUserId != null">
                and h.from_user_id = #{fromUserId}
            </if>
            <if test="toDeptId != null">
                and h.to_dept_id = #{toDeptId}
            </if>
            <if test="toUserId != null">
                and h.to_user_id = #{toUserId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and date_format(h.handover_date, '%Y%m%d') &gt;= date_format(#{params.beginTime}, '%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and date_format(h.handover_date, '%Y%m%d') &lt;= date_format(#{params.endTime}, '%Y%m%d')
            </if>
        </where>
        order by h.handover_date desc, h.handover_id desc
    </select>

    <select id="selectMaxHandoverNoByPrefix" parameterType="String" resultType="String">
        select max(handover_no)
        from ast_asset_handover
        where handover_no like concat(#{handoverNoPrefix}, '%')
    </select>

    <insert id="insertAssetHandover" parameterType="com.ruoyi.asset.domain.AssetHandover" useGeneratedKeys="true" keyProperty="handoverId">
        insert into ast_asset_handover (
            <if test="handoverNo != null and handoverNo != ''">handover_no,</if>
            <if test="assetId != null">asset_id,</if>
            <if test="handoverType != null and handoverType != ''">handover_type,</if>
            <if test="fromDeptId != null">from_dept_id,</if>
            <if test="fromUserId != null">from_user_id,</if>
            <if test="fromLocationName != null">from_location_name,</if>
            <if test="toDeptId != null">to_dept_id,</if>
            <if test="toUserId != null">to_user_id,</if>
            <if test="handoverStatus != null and handoverStatus != ''">handover_status,</if>
            <if test="handoverDate != null">handover_date,</if>
            <if test="locationName != null">location_name,</if>
            <if test="confirmBy != null and confirmBy != ''">confirm_by,</if>
            <if test="confirmTime != null">confirm_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        ) values (
            <if test="handoverNo != null and handoverNo != ''">#{handoverNo},</if>
            <if test="assetId != null">#{assetId},</if>
            <if test="handoverType != null and handoverType != ''">#{handoverType},</if>
            <if test="fromDeptId != null">#{fromDeptId},</if>
            <if test="fromUserId != null">#{fromUserId},</if>
            <if test="fromLocationName != null">#{fromLocationName},</if>
            <if test="toDeptId != null">#{toDeptId},</if>
            <if test="toUserId != null">#{toUserId},</if>
            <if test="handoverStatus != null and handoverStatus != ''">#{handoverStatus},</if>
            <if test="handoverDate != null">#{handoverDate},</if>
            <if test="locationName != null">#{locationName},</if>
            <if test="confirmBy != null and confirmBy != ''">#{confirmBy},</if>
            <if test="confirmTime != null">#{confirmTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        )
    </insert>
</mapper>
